<html>
    <head>
        <title>Todo List</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles.css" type="text/css">
    </head>
    <body>
        <h1>My todo List</h1>
        <div id="todo-table">

            <form action="">
                <input type="text" name="item" placeholder="Add new item..." required>
                <button type="button">Add item</button>
            </form>

            <ul>
                <li>Item1</li>
                <li>Item2</li>
                <li>Item3</li>
                <li>Item4</li>
            </ul>

        </div>
        
    </body>
</html>